<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learzhu.customview.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DragLayoutActivity"/>
        <activity android:name=".DrawViewListActivity"/>
        <activity android:name=".shapedetail.RectActivity"/>
        <activity android:name=".shapedetail.CircleActivity"/>
        <activity android:name=".shapedetail.ThriangleActivity"/>
        <activity android:name=".shapedetail.SectorActivity"/>
        <activity android:name=".shapedetail.OvalActivity"/>
        <activity android:name=".shapedetail.PathActivity"/>
        <activity android:name=".shapedetail.TvIvActivity"/>
        <activity android:name=".viewdetail.CustomTextViewActivity"/>
        <activity android:name=".color.ColorActivity"/>
        <activity android:name=".statistics.StatisticsActivity"/>
        <activity android:name=".canvas.CanvasActivity"/>
        <activity android:name=".BezierActivity"/>
        <activity android:name=".svg.SVGActivity"/>
        <activity android:name=".vector.VectorActivity">
        </activity>
    </application>

</manifest>